.hero{
    min-height: 100vh;
    width: 100%;
    
}
a{
  border-bottom: 5px solid rgb(13, 145, 239);
  margin-block-end: 100px;
  
 
}

  div {
    background-color: rgb(203, 82, 201);
    width: 700px;
    border: 15px solid rgba(156, 64, 179, 0.592);
    padding: 50px;
    margin: 20px;
  }

  p {
    background-color: rgb(203, 82, 201);
    width: 700px;
    border: 15px solid rgba(156, 64, 179, 0.592);
    padding: 50px;
    margin: 20px;
  }
 
  a:link {
      color: rgb(236, 241, 236);
    }
    
   
    a:visited {
      color: rgb(236, 241, 236);
    }
    
   
    a:hover {
      color: rgb(72, 181, 183);
    }
    
   
    a:active {
      color: rgb(178, 178, 204);
    }





body{
   background-color: aquamarine;
   background-image: url(https://media.giphy.com/media/3j1cQ31u1AQKqG1tU6/giphy.gif);
   background-position: center;
   background-repeat: no repeat;
   background-size: 70%;
   color: rgb(245, 248, 242);
   padding: 0 8%;
   font-family: 'Luminari, fantasy', Luminari, fantasy;
}